---
layout: default
---

<article class="section">
  <div class="container">
    <h1 class="is-capitalized">{{ page.name }}</h1>
    
    <div class="content">
      {{ content }}
    </div>
    
    <div class="tags">
      {% assign categories = site.categories
      | where_exp: 'category', 'page.categories contains category.name' %}
      {% for category in categories %}
        <a href="{{ category.url }}" class="tag is-link">
          {{ category.name }}
        </a>
      {% endfor %}
    </div>
  </div>
</article>
